@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Assistant', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8fafc;
  direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heebo', sans-serif;
}
